In [48]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# from sklearn.model_selection import cross_val_score, KFold, train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import mean_squared_error
import pickle
# import csv
# np.random.seed(42)
# %matplotlib inline

# Loading in my model, scaler, columns, and data

In [49]:
with open('../assets/scaler.pkl', 'rb') as f:
    ss = pickle.load(f)
    
with open('../assets/lasso.pkl', 'rb') as f:
    lasso = pickle.load(f)
    
with open('../assets/columns.pkl', 'rb') as f:
    columns = pickle.load(f)

In [50]:
kaggle = pd.read_csv('../data/kaggle.csv',  index_col='Id')
df = pd.read_csv('../data/df_clean_final.csv', index_col = 'Id')

In [51]:
kaggle.shape

(879, 431)

In [52]:
df.shape

(2051, 432)

# Putting my test data in the right order

In [53]:
kaggle = kaggle[columns]

In [54]:
len(kaggle[columns].columns)

158

In [55]:
kaggle_sc = ss.transform(kaggle.select_dtypes(exclude = 'object'))#.drop(['BsmtFin SF 1',
                                                                        #'Overall Qual',
                                                                        #'Overall Cond'], axis=1))

# Creating my predictions

In [56]:
SalePrice = lasso.predict(X = kaggle_sc)

In [57]:
kaggle['SalePrice'] = SalePrice

# Putting my predictions into the correct format for submission

In [58]:
data = {'SalePrice': kaggle['SalePrice']}

In [59]:
submit = pd.DataFrame(data)

In [60]:
submit.sort_values(by = 'Id', axis = 0).head(10)

        SalePrice
Id
2   120596.007327
4   279581.621285
6   197232.410588
7   188207.313133
17  194776.527856
18  348718.002330
22  193005.794719
27  124193.478167
31  108663.323464
36  145947.768179

In [61]:
lasso.intercept_

181064.36177051216

In [62]:
submit.to_csv('../data/Submit.csv')